[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipdb = "*"

[packages]
pytest = "*"
pycodestyle = "*"
pylint = "*"
pytest-asyncio = "*"
pytest-aiohttp = "*"
hypothesis = "*"

[requires]
python_version = "3.7"
